<app-header titulo="Input forms"></app-header>

<ion-content>
    <div>
       <div>
          <ion-label color="primary">Input Forms</ion-label>
       </div>
       <div>
        <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Formulario valido: true</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input placeholder="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Password:</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-button color="primary" expand="full">Login</ion-button>
        </ion-item>
       </div>
    </div>
</ion-content>
